@{
    Layout = null;

}

<div class="page page-invoice clearfix">
    <ol class="breadcrumb breadcrumb-small">
        <li>Pages</li>
        <li class="active">
            <a href="#/pages/invoice">Invoice</a>
        </li>
    </ol>
    <div class="page-wrap">
        <div class="row">
            <div>Catagories</div>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>dd</td><td>ss</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
