


@{
    Layout = null;
}
<div class="page page-form-validation clearfix">
    <ol class="breadcrumb breadcrumb-small">
        <li>Forms</li>
        <li class="active"><a href="#/MaterialReceipt">MaterialReceipt</a></li>
        <li class="active"><a href="#/MaterialReceipt/Edit">Edit</a></li>
    </ol>
    <div class="page-wrap">
        <div class="row">
            <div class="panel panel-lined mb30">
                <div class="panel-heading"><i>MaterialReceipt</i></div>
                <div class="panel-body">
                    <div>
                        <h3>v0.1.0.2(2016-9-13)</h3>
                        <ul>
                            <li>
                                修复生产领料功能
                            </li>
                            <li>
                                修改SKU选择器显示为产品名+SKU属性名
                            </li>
                        </ul>

                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>