@{
    Layout = null;
}
<div class="page page-dashboard clearfix">

    <div class="dash-head clearfix">
        <div class="left">
            <h3 class="text-uppercase title text-normal">展示台</h3>
            <p class="small text-uppercase">Welcome admin</p>
        </div>
        <div class="right mt15">
            <button class="btn btn-primary text-uppercase btn-lg btn-rounded" type="button" ng-click="initialDatabase()">初始化数据库</button>
        </div>
    </div>
    <div class="page-wrap">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default mb30 mini-box">
                    <div class="panel-body">
                        <div class="info left">
                            <h4 class="text-bold mb5 mt0">{{catagoryCount}}</h4>
                            <p class="text-uppercase">类别</p>
                        </div>
                        <div class="icon fa fa-btc bg-primary right"></div>
                    </div>
                    <div class="panel-footer panel-footer-sm clearfix bg-primary">
                        <span class="text-uppercase left">Last month</span>
                        <span class="right">-20%</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default mb30 mini-box">
                    <div class="panel-body">
                        <div class="info left">
                            <h4 class="text-bold mb5 mt0">{{productCount}}</h4>
                            <p class="text-uppercase">产品</p>
                        </div>
                        <div class="icon fa fa-cloud-download bg-info right"></div>
                    </div>
                    <div class="panel-footer panel-footer-sm clearfix bg-info">
                        <span class="text-uppercase left">Last month</span>
                        <span class="right">+5.4%</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default mb30 mini-box">
                    <div class="panel-body">
                        <div class="info left">
                            <h4 class="text-bold mb5 mt0">{{skuCount}}</h4>
                            <p class="text-uppercase">商品</p>
                        </div>
                        <div class="icon fa fa-cloud-upload bg-primary right"></div>
                    </div>
                    <div class="panel-footer panel-footer-sm clearfix bg-primary">
                        <span class="text-uppercase left">Today</span>
                        <span class="right">-10%</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default mb30 mini-box">
                    <div class="panel-body">
                        <div class="info left">
                            <h4 class="text-bold mb5 mt0">{{tradeAccountCount}}</h4>
                            <p class="text-uppercase">账户</p>
                        </div>
                        <div class="icon fa fa-bicycle bg-info right"></div>
                    </div>
                    <div class="panel-footer panel-footer-sm clearfix bg-info">
                        <span class="text-uppercase left">Today</span>
                        <span class="right">+25.9%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default mb30 mini-box">
                    <div class="panel-body">
                        <div class="info left">
                            <h4 class="text-bold mb5 mt0">{{purchaseOrderCount}}</h4>
                            <p class="text-uppercase">采购订单</p>
                        </div>
                        <div class="icon fa fa-btc bg-primary right"></div>
                    </div>
                    <div class="panel-footer panel-footer-sm clearfix bg-primary">
                        <span class="text-uppercase left">Last month</span>
                        <span class="right">-20%</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default mb30 mini-box">
                    <div class="panel-body">
                        <div class="info left">
                            <h4 class="text-bold mb5 mt0">{{saleOrderCount}}</h4>
                            <p class="text-uppercase">销售订单</p>
                        </div>
                        <div class="icon fa fa-cloud-download bg-info right"></div>
                    </div>
                    <div class="panel-footer panel-footer-sm clearfix bg-info">
                        <span class="text-uppercase left">Last month</span>
                        <span class="right">+5.4%</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default mb30 mini-box">
                    <div class="panel-body">
                        <div class="info left">
                            <h4 class="text-bold mb5 mt0">{{warehouseVoucherCount}}</h4>
                            <p class="text-uppercase">入库单</p>
                        </div>
                        <div class="icon fa fa-cloud-upload bg-primary right"></div>
                    </div>
                    <div class="panel-footer panel-footer-sm clearfix bg-primary">
                        <span class="text-uppercase left">Today</span>
                        <span class="right">-10%</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default mb30 mini-box">
                    <div class="panel-body">
                        <div class="info left">
                            <h4 class="text-bold mb5 mt0">{{deliveryVoucherCount}}</h4>
                            <p class="text-uppercase">出库单</p>
                        </div>
                        <div class="icon fa fa-bicycle bg-info right"></div>
                    </div>
                    <div class="panel-footer panel-footer-sm clearfix bg-info">
                        <span class="text-uppercase left">Today</span>
                        <span class="right">+25.9%</span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


