.alps-table-action{

text-align:center;
} 
.alps-table-action-add {
  font-size: 18px !important;
  color: #ffffff;
}
.alps-table-action-edit {
  font-size: 14px !important;
  color: #ffffff;
  padding: 0 5px;
  display: inline-block;
}
.alps-table-action-delete {
  font-size: 14px !important;
  color: #ffffff;
  padding: 0 5px;
  display: inline-block;
}