<div class="widgets">
  <form [formGroup]="stockOutForm" autofocus>
    <ba-card title="基本资料">
      <div class="row">
        <div class="form-group col-sm-3">
          <label>客户</label>
          <alps-selector [options]="supllierOptions" formControlName="supplierID"></alps-selector>
        </div>

        <div class="form-group col-sm-3">
          <label>来源</label>
          <alps-selector [options]="departmentOptions" formControlName="departmentID"></alps-selector>
        </div>
      </div>
    </ba-card>
    <ba-card title="物品明细">
      <table class="table  table-hover" formArrayName="items">
        <tr>
          <th class="" width="10%">物品</th>
          <th width="10%">数量</th>
          <th width="10%">单价</th>
          <th width="10%">金额</th>
          <th style="max-width:50px;padding-left:8px;" width="3%"><button class="btn btn-default btn-xs" (click)="addItem()" type="button"><i class="ion-plus"></i></button></th>
        </tr>
        <tr *ngFor="let item of stockOutForm.controls.items.controls;let i=index" [formGroupName]="i">
          <td>
            <alps-selector [options]="productskuOptions" formControlName="skuid"></alps-selector>
          </td>
          <td>
            <alps-inline-edit formControlName="quantity"></alps-inline-edit>
          </td>
          <td>
            <alps-inline-edit formControlName="price"></alps-inline-edit>
          </td>
          <td>
            {{item.controls.quantity.value*item.controls.price.value}}
          </td>
          <td><button class="btn btn-default  btn-xs" (click)="removeItem(i)" type="button"><i class="ion-trash-a"></i></button></td>
        </tr>
      </table>
      
    </ba-card>
  </form>{{stockOutForm.value|json}}
</div>
