

<div class="page page-form-validation clearfix">


	<ol class="breadcrumb breadcrumb-small">
		<li>Forms</li>
		<li class="active"><a href="#/Catagory/View">Form Validation</a></li>
	</ol>
	<div class="page-wrap">
		<div class="row">

		</div>
	</div>
</div>


<div class="page clearfix">
    <ol class="breadcrumb breadcrumb-small">
        <li>Pages</li>
        <li class="active">
            <a href="#/html/View/View"></a>
        </li>
    </ol>
    <div class="page-wrap">
        <div class="row">
            <div>Catagories</div>
        </div>
    </div>

</div>
<p>
    <a href="#/View/Create"></a>
</p>
<table class="table">
    <tr>
        <th>
		
		Alps.Domain.ProductMgr.Catagory
            @Html.DisplayNameFor(model => model.Parent.Name)
        </th>
        <th>
		
		System.String
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Parent.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
		 <a href="#/html/View/Edit/ID"></a>
		 <a href="#/html/View/Delete/ID"></a>
        </td>
    </tr>
}

</table>
