<div class="widgets">
  <form>
    <ba-card title="基本资料">
      <div class="row">
        <div class="form-group col-sm-3">
          <label for="exampleInputEmail1">SKUID</label>
          <input type="email" class="form-control" name="id" placeholder="SKUID" [(ngModel)]="purchaseOrder.id">
        </div>
        <div class="form-group col-sm-3">
          <label for="exampleInputEmail1">数量</label>
          <input type="email" class="form-control" name="supllier" placeholder="供应商" [(ngModel)]="purchaseOrder.supplier">
        </div>
        <div class="form-group col-sm-3">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group col-sm-3">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
      </div>
    </ba-card>

    <ba-card title="订单明细">
      <ng2-smart-table [settings]="tableSettings" [source]="source">
      </ng2-smart-table>
    </ba-card>
    <ba-card title="调试">
      {{purchaseOrder|json}}
    </ba-card>
  </form>
</div>
<ba-card>
  <alps-selector></alps-selector>
</ba-card>
